<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AXOLOTL_PC_CLEANER.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <AXOLOTL_PC_CLEANER.Properties.Settings>
            <setting name="Startup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Minimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CloseAfterClean" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowReadOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ThumbnailCache" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MiniDumps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TemporaryFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RecycleBin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TempFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MemoryDumps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EventTraceLogs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ErrorReporting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DriverInstallation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeliveryOpti" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NetworkData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowsLogs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Prefetch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StoreInstallServiceCache" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QtFramework" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PowerEfficencyDiagnostics" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Notfications" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MsSearch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JumpList" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FontCache" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WinDefender" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OriginInstaller" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VisualStudio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OneDrive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EasyAntiCheat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Battlenet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ccleaner" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Steam" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DirectX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WinUpdateFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WinFontCache" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WinDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WinCache" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WinInstaller" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WinExpIndex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WinAutoVideo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RecentDocuments" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EdgeCache" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EdgeCookies" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EdgeHistory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EdgeSession" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EdgePasswords" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EdgeMetrics" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChromeCache" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChromeHistroy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChromeCookies" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChromeDownloadHistory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChromeMetrics" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChromeSession" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChromePasswords" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowChrome" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowFirefox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowEdge" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExpandAll" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowWindows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowAdvanced" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowApps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirefoxCache" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirefoxHistory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirefoxCookies" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirefoxSession" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirefoxSite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirefoxForm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirefoxPasswords" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirefoxPath" serializeAs="String">
                <value />
            </setting>
            <setting name="InternetExplorer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Sid" serializeAs="String">
                <value />
            </setting>
            <setting name="Windows" serializeAs="String">
                <value />
            </setting>
            <setting name="Gpu" serializeAs="String">
                <value />
            </setting>
            <setting name="Cpu" serializeAs="String">
                <value />
            </setting>
            <setting name="Ram" serializeAs="String">
                <value />
            </setting>
        </AXOLOTL_PC_CLEANER.Properties.Settings>
    </userSettings>
</configuration>